<%- include('./partials/navbar.ejs')%>
<body>
    <%- include('./partials/header.ejs')%>
    <div id="formulario-pergunta" class="container">
        <div class="card">
            <div class="card-header">
                <h3>Pagina home</h3>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs')%>